{% if latest_message_list %}
<table>

<!--<form method="get"> -->
  {% for message in latest_message_list %}
    <tr>
    <!-- <a href="/messages/{{ message.id }}/">{{ message.topic}} {{message.date}}</a> -->
      <td>{{ message.topic}} -- {{message.date}}</td>
     <!-- <td> <input type="submit" value="删除" /></td> -->
      <td><a href="messages/delete?id={{ message.id }}">删除</a></td>
     </tr>
     <tr>
       <td>评论：</td>
     </tr>
     {% for comment in message.comment_set.all %}
       <tr>
         <td>{{ comment.tucao }} -- {{comment.date}} </td>  
         <td> <input type="submit" action="" value="删除" /></td>
         <td> <input type="submit" action="" value="修改" /></td>
       </tr>
     {% endfor %}
     <form method="get" action="messages/addcomment?id={{message.id}}">
     
	<table>
          <tr>
            <td>添加评论：<td>
            <td><input type="test" name="id" value="{{message_id}}"></td>
            <td><input type="text" name="tucao" /></td>
            <td><input type="submit" value="添加"/></td>
          </tr>
        </table>
     </form>
  {% endfor %}
 <!-- </form>-->
  </table>
{% else %}
  <p>No message are available</p>
{% endif %}

<form method="get" action="messages/add">  
  <table>
    <tr>
       <td>添加留言：</td>
       <td><input type="text" name="topic"/></td>
       <!-- <td><a href="messages/add">添加</td> -->
       <td><input type="submit" value="添加" /></td>
    </tr>
  </table>
<form>
